/* 大的结构 */

/* header */
.header{
  width: 848px;
  height: 117px;
  background: rgb(243, 241, 241);
  padding: 0 0 0 0px;
  margin: 0 auto;
  position: relative;
}

/* main */
#mainID{
  width: 848px;
  height: 341px;
  background: rgb(243, 241, 241);
  margin: 0 auto;
  position: relative;
}